.footer {
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #7d91ae; 
  color: #ffffff; 
}

.footer p {
  margin: 0;
  font-size: 1.2rem;
}

.footer p:last-child {
  margin-top: 10px;
  font-size: 1rem;
}

.footer-link {
  color: #ffffff; 
  text-decoration: none;
}

.footer-link:hover {
  color: #72769b; 
}